footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0 0;

    .logo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        h3 {
            font-size: 22px;
            font-weight: 200;
            color: #4A494A;
            width: 100%;
            text-align: center;
            margin-top: 20px;

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 16px;
                max-width: 220px;
                margin: 20px auto 0;
            }
        }

        .bg-footer {
            margin: 40px 0;
            
            /* Mobile */
            @media (max-width: 767px) {
                margin: 0 0 10px;
            }

            @media (min-width: 1441px) {
                max-width: 100%;
                height: 130px;
            }
        }
    }

    .body-footer {
        width: 100%;
        
        .content-footer {
            width: 100%;
            margin: auto 110px;
            display: flex;
            flex-wrap: wrap;

            /* Mobile */
            @media (max-width: 767px) {
                margin: auto;
                justify-content: center;
            }
    
            .grid {
                width: 23%;

                /* Mobile */
                @media (max-width: 767px) {
                    width: 100%;
                }
                
                &:nth-child(2) {
                    width: 26%;

                     /* Mobile */
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    width: 18%;
                    h3 {
                        max-width: 145px;
                        position: relative;
                        bottom: 2px;
                        line-height: 20px;

                        /* mobile */
                        @media (max-width: 767px) {
                            text-align: center;
                            width: 100%;
                            margin: auto;
                            margin-top: 15px;
                            max-width: 100%;
                        }
                    }

                     /* Mobile */
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }

                &:nth-child(4) {
                    width: 30%;

                     /* Mobile */
                    @media (max-width: 767px) {
                        width: 100%;
                    }
                }
    
                h3 {
                    font-weight: 300;
                    font-size: 14px;
                    color: #ED1B24;
                    text-transform: uppercase;
                    font-family: 'Poppins';

                    /* Mobile */
                    @media (max-width: 767px) {
                        text-align: center;
                        margin-bottom: 15px;
                        margin-top: 15px;
                    }
                }
    
                p {
                    color: #4A494A;
                    font-size: 14px;
                    font-weight: 200;
                    margin-top: 10px;

                    /* Mobile */
                    @media (max-width: 767px) {
                        text-align: center;
                        font-weight: 200;
                        margin-top: 0px;
                        margin-bottom: 10px;
                    }
                }

                .btn-whats {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    width: 100%;

                    /* mobile */
                    @media (max-width: 767px) {
                        justify-content: center;
                    }

                    .ico {
                        margin-right: 8px;
                        position: relative;
                        top: 2px;
                    }

                    .text-footer {
                        /* mobile */
                        @media (max-width: 767px) {
                            width: 100%;
                        }

                        p {
                            margin-top: 10px;
                        }
                    }
                }

                .sociais {
                    display: flex;
                    width: 66%;
                    margin-top: 30px;
                    justify-content: space-between;

                    /* mobile */
                    @media (max-width: 767px) {
                        justify-content: space-evenly;
                        width: 90%;
                        margin: 30px auto;
                    }
                }

                .apoio {
                    display: flex;
                    margin-top: 45px;
                    align-items: center;

                    /* Mobile */ 
                    @media (max-width: 767px) {
                        justify-content: center;
                        margin-top: 20px;
                    }
                    
                    .ico-apoio {
                        margin-right: 20px;
                    }
                }
            }
        }
    }

    .copy {
        height: 60px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #ED1B24;
        margin-top: 40px;

        p {
            font-size: 12px;
            color: #ED1B24;
            font-weight: 200;
            text-align: center;
        }

        /* Mobile */
        @media (max-width: 767px) {

        }
    }
}