.section-obrigado {
    margin-top: 87px;
    width: 100%;

    .btn-before {
        top: 25px;
        position: relative;
        font-family: 'Poppins';
        color: #4A494A;
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;

        .ico-arrow-blog {
            margin-right: 5px;
            position: relative;
            bottom: 1px;
        }
    }

    .content-obrigado {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 93px;
        flex-wrap: wrap;

        h2 {
            font-size: 30px;
            color: #ED1B24;
            text-transform: uppercase;
            font-family: 'Poppins';
            font-weight: 300;

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 20px;
                text-align: center;
            }
        }

        h3 {
            font-size: 18px;
            font-weight: 300;
            color: #4A494A;
            margin: auto;
            text-align: center;
            line-height: 28px;
            margin-top: 35px;

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 14px;
                text-align: center;
            }
        }

        .mail,
        .phone {
            font-size: 18px;
            color: #4A494A;
            font-weight: 300;

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 14px;
            }
        }

        .mail {
            margin-top: 17px;
            margin-bottom: 6px;
        }

        .sociais {
            display: flex;
            align-items: center;
            margin-top: 8px;

            .ico {
                margin-right: 8px;
            }

            .text {
                p {
                    color: #4A494A;
                    font-size: 18px;
                    font-weight: 300;

                    /* Mobile */
                    @media (max-width: 767px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }

    .content-carousel {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        align-items: center;
        margin-top: 91px;
        margin-bottom: 80px;

        /* Mobile */
        @media (max-width: 767px) {
            margin-top: 60px;
        }

        h3 {
            font-size: 22px;
            color: #ED1B24;
            font-weight: 200;
            font-family: 'Poppins';
            text-transform: uppercase;
            margin-bottom: 40px;

            /* Mobile */
            @media (max-width: 767px) {
                font-size: 20px;
                text-align: center;
            }
        }

        .inner-carousel {
            width: 820px;
            margin: auto;
            display: flex;

            /* Mobile */
            @media (max-width: 767px) {
                width: 100%;
            }

            .box-content {
                width: 135px;
                height: 135px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F3F3F3;
                border-radius: 10px;
                // margin-right: 19px;
                margin-bottom: 20px;
                box-shadow: 0px 4px 10px #00000029;

                &:nth-child(5n) {
                    margin-right: 0;

                    /* mobile */
                    @media (max-width: 767px) {
                        margin-right: 7.8px;
                    }
                }

                /* mobile */
                @media (max-width: 767px) {
                    width: 135px;
                    height: 135px;
                    // margin-right: 7.8px;
                    margin-bottom: 10px;
                    box-shadow: 0px 2px 4px #00000029;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }

                .link-box {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;

                    .image-box {
                        height: 72px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        img {
                            width: 50%;
                        }
                    }

                    h5 {
                        width: 75%;
                        text-align: center;
                        font-size: 12px;
                        color: #4A494A;
                        font-weight: 400;
                        line-height: 17px;
                        min-height: 30px;
                        margin-top: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        /* mobile */
                        @media (max-width: 767px) {
                            font-size: 12px;
                            min-height: 20px;
                            margin-top: 0px;
                        }
                    }
                }
            }

            /* Mobile */
            @media (max-width: 767px) {
                .owl-stage-outer {
                    max-width: 80%;
                    margin: auto;
                }
            }

            .owl-nav {
                position: absolute;
                top: 32%;
                z-index: -1;
                width: 100%;
                display: flex;
                justify-content: space-between;
        
                button {
                    width: 45px;
                    height: 45px;
                    position: relative;
                    border-radius: 50%;
                    display: inline-block;
                    text-indent: -9999%;
                    transition: all .4s;
        
                    &.owl-prev {
                        &::after {
                            right: 100px;
                            top: 17px;
                            transform: rotate(-65deg);

                            /* Mobile */
                            @media (max-width: 767px) {
                                left: 8px;
                            }
                        }
        
                        &::before {
                            right: 100px;
                            top: 26px;
                            transform: rotate(65deg);

                            /* Mobile */
                            @media (max-width: 767px) {
                                left: 8px;
                            }
                        }
                    }
        
                    &.owl-next {
                        &::after {
                            right: -60px;
                            top: 17px;
                            transform: rotate(65deg);

                            /* Mobile */
                            @media (max-width: 767px) {
                                right: 8px;
                            }
                        }
        
                        &::before {
                            right: -60px;
                            top: 26px;
                            transform: rotate(-65deg);

                            /* Mobile */
                            @media (max-width: 767px) {
                                right: 8px;
                            }
                        }
                    }
        
                    &::after {
                        content: '';
                        position: absolute;
                        height: 1px;
                        transform: rotate(-45deg);
                        width: 10px;
                        background: #4A494A !important;
                    }
        
                    &::before {
                        content: '';
                        position: absolute;
                        height: 1px;
                        transform: rotate(45deg);
                        width: 10px;
                        background: #4A494A !important;
                    }
                }
            }
        
            .owl-dots {
                text-align: center;
                position: absolute;
                bottom: -40px;
                padding: 10px;
                border-radius: 25px;
                width: auto;
                min-width: 170px;
                left: 50%;
                transform: translateX(-50%);
        
                .owl-dot {
                    width: 10px;
                    height: 10px;
                    background: 12px;
                    border-radius: 50%;
                    display: inline-block;
                    margin: 0 7px;
                    position: relative;
                    background: transparent;
                    border: 2px solid #D7D7D7;
                    
                    &.active {
                        background: #D7D7D7;
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                    }
                }
            }
        }
    }
}