/* SOLUÇÕES PESSOAIS */

.section-pessoais {
    width: 100%;
    margin-top: 180px;
    margin-bottom: 114px;
    
    /* mobile */
    @media (max-width: 767px) {
        margin-top: 150px;
    }
    
    .content-pessoais {
        width: 100%;
        
        h2 {
            font-size: 34px;
            font-family: 'Poppins';
            font-weight: 200;
            color: #ED1B24;
            width: 100%;
            text-align: center;
            
            /* mobile */
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }
        
        h3 {
            width: 100%;
            font-size: 18px;
            color: #4A494A;
            font-weight: 300;
            line-height: 28px;
            max-width: 803px;
            margin: 9px auto auto;
            text-align: center;
            
            /* mobile */
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
                max-width: 276px;
            }
        }
        
        .body-pessoais {
            width: 100%;
            max-width: 925px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 98px;
            
            /* mobile */
            @media (max-width: 767px) {
                margin-top: 43px;
            }
            
            .box-content {
                width: 216px;
                height: 216px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F3F3F3;
                border-radius: 10px;
                margin-right: 19px;
                margin-bottom: 41px;
                box-shadow: 0px 4px 10px #00000029;
                padding-top: 30px;
                
                &:nth-child(4n) {
                    margin-right: 0;
                    
                    /* mobile */
                    @media (max-width: 767px) {
                        margin-right: 7.8px;
                    }
                }
                
                /* mobile */
                @media (max-width: 767px) {
                    width: 150px;
                    height: 150px;
                    margin-right: 7.8px;
                    margin-bottom: 10px;
                    box-shadow: 0px 2px 4px #00000029;
                    
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
                
                .link-box {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    cursor: default;
                    pointer-events: none!important;
                    
                    .image-box {
                        height: 106px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        
                        /* mobile */
                        @media (max-width: 767px) {
                            height: 83px;
                            
                            img {
                                width: 70%;
                            }
                        }
                    }
                    
                    h5 {
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                        color: #4A494A;
                        font-weight: 400;
                        line-height: 27px;
                        min-height: 49px;
                        margin-top: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: baseline;
                        
                        /* mobile */
                        @media (max-width: 767px) {
                            font-size: 12px;
                            min-height: 20px;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}

/* SOLUÇÕES EMPRESARIAIS */

.section-empresariais {
    width: 100%;
    margin-top: 180px;
    margin-bottom: 109px;
    
    /* mobile */
    @media (max-width: 767px) {
        margin-top: 150px;
    }

    .content-empresariais {
        width: 100%;

        h2 {
            font-size: 34px;
            font-family: 'Poppins';
            font-weight: 200;
            color: #ED1B24;
            width: 100%;
            text-align: center;

            /* mobile */
            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        h3 {
            width: 100%;
            font-size: 18px;
            color: #4A494A;
            font-weight: 300;
            line-height: 28px;
            max-width: 496px;
            margin: 9px auto auto;

            /* mobile */
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 20px;
                max-width: 301px;
                text-align: center;
            }
        }

        .body-empresariais {
            width: 100%;
            max-width: 1160px;
            margin: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 98px;

            /* mobile */
            @media (max-width: 767px) {
                margin-top: 43px;
            }

            .box-content {
                width: 216px;
                height: 216px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #F3F3F3;
                border-radius: 10px;
                margin-right: 19px;
                margin-bottom: 41px;
                box-shadow: 0px 4px 10px #00000029;

                &:nth-child(5n) {
                    margin-right: 0;

                    /* mobile */
                    @media (max-width: 767px) {
                        margin-right: 7.8px;
                    }
                }

                /* mobile */
                @media (max-width: 767px) {
                    width: 150px;
                    height: 150px;
                    margin-right: 7.8px;
                    margin-bottom: 10px;
                    box-shadow: 0px 2px 4px #00000029;

                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }

                .link-box {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    align-items: center;
                    cursor: default;
                    pointer-events: none!important;

                    .image-box {
                        height: 115px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        /* mobile */
                        @media (max-width: 767px) {
                            height: 83px;

                            img {
                                width: 70%;
                            }
                        }
                    }

                    h5 {
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                        color: #4A494A;
                        font-weight: 400;
                        line-height: 27px;
                        min-height: 49px;
                        margin-top: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: baseline;

                        /* mobile */
                        @media (max-width: 767px) {
                            font-size: 12px;
                            min-height: 20px;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}